
# development, production
NODE_ENV="development"
PORT=
# "https://sample-portfolio.vercel.app,https://sample-portfolio-git-main.vercel.app"
ALLOWED_ORIGINS=""
JWT_SECRET=""
ADMIN_PASSWORD=""
MONGODB_URI=""
CONTACT_RECEIVER_EMAIL="abc@gmail.com"
SMTP_HOST=""
SMTP_PORT="587"
SMTP_USER=""
SMTP_PASS=""